# C++源代码
ipch/
Release/

*.sdf
*.sln
*.suo
*.exp
*.pdb
*.filters
*.vcxproj
*.cd
*.vcxproj.filters

# Python编译文件
*.pyc

# WingIDE文件
*.wpr
*.wpu

# 压缩文件
*.zip

# API的.con文件
*.con

*.log
*.csv

# visual studio
*.opensdf

# 本地持久化文件
*.vn

# word文档
*.doc
*.docx

# 其他文件
*.dump
*.vssettings
*.klg
*.lkc


# 不想同步的
*.local
*.temp
*.vt
*.dat
=======
api/vn.ctp/build/*
api/vn.lts/build/*
vnpy/trader/logs/vnpy*
vnpy/trader/logs/no*
vnpy/trader/orders/*.csv
vnpy/trader/learning/*
vnpy/trader/obj/*
vnpy/trader/temp/*
vnpy/trader/app/catStrategy/cache/*
vnpy/trader/app/catStrategy/ctaPeriod.py
vnpy/trader/app/catStrategy/ctaRangeBar.py
vnpy/trader/app/catStrategy/ctaRenkoBar.py
vnpy/trader/app/catStrategy/strategy_store/*
vnpy/trader/gateway/ctpGateway/CTP_EBF_connection.json
vnpy/trader/gateway/ctpGateway/CTP_Post_connection.json
vnpy/trader/gateway/ctpGateway/CTP_Prod_connection.json
vnpy/trader/gateway/ctpGateway/CTP_JR_connection.json
vnpy/trader/gateway/ctpGateway/CTP_JR2_connection.json

.idea

