PyQt5
qdarkstyle
futu-api
websocket-client
peewee
numpy
pandas
matplotlib
seaborn
jupyter
ta-lib; platform_system=="Unix"
https://download.lfd.uci.edu/pythonlibs/r5uhg2lo/TA_Lib-0.4.17-cp37-cp37m-win_amd64.whl; platform_system=="Windows"

