six
wheel
tzlocal==2.0.0
PyQt5==5.14.1
pyqtgraph
qdarkstyle
requests
websocket-client
numpy
pandas
matplotlib
seaborn
PyCryptodome==3.9.9
futu-api
rqdatac==2.9.38
ta-lib
ibapi
deap
pyzmq
wmi
QScintilla==2.11.4
plotly
exchange-calendars

vnpy_rest==1.0.3
vnpy_websocket==1.0.2
vnpy_ctp==6.5.1.6
vnpy_ctptest==6.5.1.3
vnpy_okex==2021.4.21.5
vnpy_deribit==2.0.1.1
vnpy_xtp==2.2.27.5
vnpy_bybit==2021.10.25
vnpy_tts==6.5.1.0
vnpy_rohon==6.5.1.0
vnpy_mini==1.5.6.1
vnpy_sopt==3.5.5.0
vnpy_uft==3.7.2.4.0
vnpy_esunny==1.0.2.2.0
vnpy_comstar==1.0.1
vnpy_binance==2021.10.23
vnpy_huobi==2021.9.24
vnpy_bitfinex==2021.9.17
vnpy_bitstamp==2021.9.17
vnpy_coinbase==2021.9.17
vnpy_ftx==2021.10.25
vnpy_dydx==2021.10.3
vnpy_ib==9.81.1.0
vnpy_tap==9.0.0
vnpy_da==1.12.0
vnpy_sgit==4.8.0

vnpy_ctastrategy==1.0.5
vnpy_ctabacktester==1.0.3
vnpy_riskmanager==1.0.1
vnpy_datamanager==1.0.3
vnpy_webtrader==1.0.1
vnpy_spreadtrading==1.1.0
vnpy_datarecorder==1.0.2
vnpy_chartwizard==1.0.1
vnpy_optionmaster==1.0.0
vnpy_algotrading==1.0.0
vnpy_scripttrader==1.0.0
vnpy_portfoliomanager==1.0.0

vnpy_sqlite==1.0.0
vnpy_mysql==1.0.0
vnpy_postgresql==1.0.0
vnpy_mongodb==1.0.0
vnpy_influxdb==1.0.1
vnpy_dolphindb==1.0.1
vnpy_arctic==1.0.1
vnpy_leveldb==1.0.0

vnpy_rqdata==2.9.38.1
vnpy_tushare==1.2.64.1
vnpy_tqsdk==2.8.6
vnpy_coinapi==1.0.0
vnpy_udata==2021.9.25
vnpy_tinysoft==2021.6.17
vnpy_ifind==1.0.0
vnpy_wind==1.0.0

