#This is an ACCEPTOR

# default settings for sessions
[DEFAULT]
ConnectionType=acceptor
SenderCompID=SRVR
ResetOnLogon=Y
FileLogPath=./Logs/
LogonTimeout=6000
ReconnectInterval=6030

[SESSION]
# A single session
BeginString=FIX.4.2
TargetCompID=CLNT
StartTime=00:00:00
EndTime=00:00:00
HeartBtInt=30
CheckLatency=N
SocketAcceptPort=31337
UseDataDictionary=Y
DataDictionary=/code/quickfix/spec/FIX42.xml
FileStorePath=./Sessions/



#ReconnectInterval=60
#SenderCompID=TW
#SocketAcceptPort=20202
#SocketAcceptHost=0.0.0.0
#SocketNodelay=Y
#FileStorePath=./Sessions/

## session definition
#[SESSION]
## inherit ConnectionType, ReconnectInterval and SenderCompID from default
#BeginString=FIX.4.2
#TargetCompID=ARCA
#StartTime=12:30:00
#EndTime=23:30:00
#HeartBtInt=20
#SocketConnectPort=9823
#SocketConnectHost=123.123.123.123
#DataDictionary=/code/quickfix/spec/FIX42.xml
#
#[SESSION]
#BeginString=FIX.4.0
#TargetCompID=ISLD
#StartTime=12:00:00
#EndTime=23:00:00
#HeartBtInt=30
#SocketConnectPort=8323
#SocketConnectHost=23.23.23.23
#DataDictionary=/code/quickfix/spec/FIX40.xml
#
#[SESSION]
#BeginString=FIX.4.2
#TargetCompID=INCA
#StartTime=12:30:00
#EndTime=21:30:00
## overide default setting for RecconnectInterval
#ReconnectInterval=30
#HeartBtInt=30
#SocketConnectPort=6523
#SocketConnectHost=3.3.3.3
## (optional) alternate connection ports and hosts to cycle through on failover
#SocketConnectPort1=8392
#SocketConnectHost1=8.8.8.8
#SocketConnectPort2=2932
#SocketConnectHost2=12.12.12.12
#DataDictionary=/code/quickfix/spec/FIX42.xml
